$white: #fff;
$black: #000;

$hover-gray: #e2e2e2;

$primary-button: #2e2f32;
$primary-button-hover: #3f4044;

$arrow-gray: #00000075;

$default-text: #000000bd;
$secondary-text: #000000bd;
$field-text: #7e7e7e;

$default-layout-backgraund: #f7f7f7;
$country-background: #f7f7f7;
$country-hover: #AFAFAF;
$field-backgraund: #e8e8e8;

$error: #ff3b30;
