$white: #fff;
$black: #000;

$hover-gray: #e2e2e2;

$primary-button: #2e2f32;
$primary-button-hover: #3f4044;

$arrow-gray: #00000075;

$default-text: #000000bd;

$default-layout-backgraund: #F7F7F7;

$error: #ff3b30;
