$radius-papper: 20px;
$radius-button: 16px;
$radius-drop: 10px;

$z-index-under: -1;
$z-index-0: 0;
$z-index-drop: 1;
$z-index-modal: 2;
$z-index-top: 100;

$mobile: 720px;

$header-max: 1100px;
$content-max: 720px;
