@use "src/styles/variables/_colors";
@use "src/styles/variables/_numbers";

.button {
  padding: 15px 24px;
  background-color: colors.$primary-button;
  border: none;
  border-radius: numbers.$radius-button;
  color: colors.$white;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: colors.$primary-button-hover;
  }
}
